
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	/*background-color: #4aaaa5;*/
	/*font-family: 'Georgia', Times, Times New Roman, serif;*/
	/*margin-top: 0;*/
	/*height: 80px;*/
	width: 100%;
	/*text-align: center;*/
	/*color: white;*/
}


header>h1{
	color: white;
	background-color: #4aaaa5;
	margin: 10px;
	padding: 20px;
	margin-left: 80px;
	text-align: center;

    
}

.nav {
	color: #cccccc;
	text-align: center;
	padding: 20px 0 20px 0;
	margin-right: 200px;

	

}

.nav > li {
	display: inline-block;
	padding-right: 20px;


}

.nav > li > a {
	text-decoration: none;
	color: #777777;

}

.nav > li > a: hover {
	 color: #cccccc;
}

#AboutMe {
	color: #4aaaa5;
	margin: 20px;
}

h2 {
   color: #4aaaa5;

}


/*#container {
	background-color: white;
}
*/

/*#menu ul{*/
	/*margin: 0;
	padding: 0;
}*/

/*#menu li {*/
	/*list-style-type: none;
	float:right;
	display: block;
	width: 60px;
	width: 40px;
	text-align: center;
*/
/*}*/

/*#menu{

	background-color: #cccccc;
}*/


/*nav >ul {
	display: flex;
	flex-direction: row;

}


nav >ul>li {
	list-style-type: none;*/
}


.outercontainer {
	width: 960px;
	margin: 0;
	background-image: url(assets/images/redox_02_@2X.png);
	background-size: cover;
	/*background-repeat: repeat-x;*/
	

}


#image {
	width: 200px;
	height: 200px;
	margin-top: 5px;
	padding: 5px;
	float: left;
}

p{
	color: #777777;
	font-style: 'Arial', 'Helvetica Neue', sans-serif;
	

}

.innercontainer1 {
	background-color: #ffffff;
	width: 650px;
	height:400px;
	padding: 20px;
	border: 1px solid;
	border-color: #cccccc;
	margin: 20px;
	float: left;



}

.innercontainer2 {
	width: 650px;
	height: 400px;
	
}




.sidebar{
	float: right;
	position: absolute;
    top: 125px;
    right: 340px;
	width: 270px;
	height: 200px;
	border: 1px solid #cccccc;
	box-shadow: 1px;
	text-align:center;

}



#footer{ 
	background-color: #666666;
	color: #cccccc;
	height: 70px;
	margin: 20px;
	width: 100%;
	clear: both;
	text-align: center;
	border-top: 8px solid #4aaaa5;
	/*margin-bottom: 0;*/
}